@import "abstracts/variables";
@import "base/animations";

.sfr1-container {
  position: relative;
}

.navbar {
  width: 100vw;
}

.views {
  position: absolute;
  z-index: 1;
  width: 100vw;
  display: grid;
}
