@import "base/animations";

.sfr1-navbar {
  position: relative;
  padding: 10px;

  &-logo {
    position: absolute;
    left: 15vw;
    animation: moveInRight 1s ease-out;

    &-image {
      width: 5vw;
    }
  }
}

.sfr1-links {
  position: relative;
  right: 15vw;
  animation: moveInLeft 1s ease-out;

  &-item {
    margin-right: 1vw;

    &:last-child {
      margin-right: 0;
    }
  }

  &-text {
    font-size: 1vw;
  }
}
