<nav class="sfr1-navbar navbar navbar-expand-lg navbar-light bg-light">
  <a class="sfr1-navbar-logo navbar-brand" href="#">
    <img class="sfr1-navbar-logo-image" src="assets/imgs/logo_web-01.png" alt="">
  </a>

  <div class="sfr1-navbar-link navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li *ngFor="let link of sfr1HomepageLinks" class="nav-item sfr1-navbar-item">
        <a class="sfr1-navbar-link-text nav-link" href="#">{{link.name | uppercase}}</a>
      </li>
    </ul>
  </div>
</nav>
